<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuquen Pesca</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@500&display=swap" rel="stylesheet">
    <link rel="icon" href="../imagenes/carousel/icono.png">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bree+Serif&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Nav Bar Boostrap-->
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="../../index.html">Principal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="santacruz.html">Santa Cruz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="chubut.html">Chubut</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Neuquen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="rionegro.html">Rio Negro</a>
            </li>
        </ul>
    </header>

    <!-- Fotos presentacion -->
    <div class="img-container">
        <h3 class="subtitulo-img-provincia">Vista Alegre, Rio Neuquen</h3>
        <img src="../imagenes/Neuquen/Rio-neuquen.jpg" class="img-item1-neuquen">
        <img src="../imagenes/Neuquen/Neuquenmapa.jpg" class="img-item2-neuquen">
    </div>

    <!-- Presentacion Neuquen -->
    
    <section class="sec-prov">
        <h2>¿Como y donde podemos pescar en Neuquen?</h2>
        <p>Neuquen nos ofrece una gran variedad de oportunidades para la pesca de aguas dulce, sus rios y lagos son conocidos por albergar distintas especies de peces y atraer pescadores de todo el mundo, grandes cuerposde agua dulce y maravillosos paisajes son los motivos para llamar la atencion de todos los pescadores deportivos, siempre teniendo en cuenta las regulaciones y restricciones locales, siempre adquiriendo los permisos correspondientes para pescar en la zona. <br>
        Estos lugares al ser tan conocidos mundialmente cuentan con una gran cantidad de guias de pesca y servicios para todos los pescadores. En este apartado vamos a hablar mas especificamente de sus rios y lagos. </p>
    </section>
        <div class="div-importante">
            <h4 class="h4-importante">¡Importante, Limites de pesca!</h4>
            <p>En Neuquen solo se permite sacrificar 1 ejemplar por dia, en lagos y lagunas, En rios cortos la devulvion de los peces es obligatoria, al igual que en los lugares donde se encuentre parques nacionales, El limite maximo de truchas en la patagonia es de 5 ejemplares, pero ojo, son 5 en toda la temporada, aunque no es tan comun hay lugares donde se exige una medida minima para sacrificar el pez, pero eso ya depende de los rios y lugares que visitimos, ya que cada rio y lago tiene diferentes normas de pesca, por eso se debe consultar el lugar antes de ir a pescar a un determinado lugar. cabe recordar que la pesca es con anzuelo simple y sin rebarba. <br>
            <b> ESTE LIMITE DE PESCA APLICA PARA TODA LA PATAGONIA</b></p>
        </div>
    <article class="container-neuquen-rio">
        <div class="div-neuquen-rio-lugar img-2">
            <img src="../imagenes/Neuquen/Riolimay.jpg" class="img-neuquen-rio">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Rio Limay</h4>
            <p class="parrafo-neuquen-rio"> El rio Limay es uno de los rios mas famosos de la provincia y uno de los principales destinos para la pesca con mosca, Este se origina en el lago Nahuel Huapi, y fluye a traves de un hermoso paisaje hasta encontrarse con el rio Neuquen, Este rio es conocido por sus randes truchas marrones y arcoiris, y por sus salmones del pacifico, el rio Limay es mu extenso por lo cual tiene lugares de pesca con diferentes caracteristicas y desafios.</p>
        </div>
        </div>

        <div class="div-neuquen-rio-lugar">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Rio Neuquen</h4>
            <p class="parrafo-neuquen-rio"> El rio Neuquen es otro importante destino para las pesca en la provincia, se origina en el lago Nahuel Huapi, recorriendo mas de 500 kilometrosm antes de desembocar en el rio Colorado. Este rio es conocido por sus truchas, salmones y sus Dorados, los dorados, una especie de pez de dificil de encontrar en la patagonia, la pesca mas popular es el Fly Fishing (pesca con mosca), debido a sus maravillosas condiciones. </p>
        </div>
            <img src="../imagenes/Neuquen/Rio-neuquen.jpg" class="img-neuquen-rio">
        </div>

        <div class="div-neuquen-rio-lugar img-2">
            <img src="../imagenes/Neuquen/lagoalumine.jpg" class="img-neuquen-rio">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Lago Alumine</h4>
            <p class="parrafo-neuquen-rio"> El lago Alumine, es uno de los lagos mas bellos de la Argentina, muy famoso en el mundo de la pesca. Este lago se encuentra en medio de un entorno natural, impresionante albergando diversas especies de peces, Aca son muy famosas el Fly Fishing y el Spinning, cabe recalcar es un lugar maravilloso tambien para acampar, en realiadad hahy escursiones que se dedican a llevar personas para acampar en el lugar y a la mañana comenzar con una buena jornada de pesca.</p>
        </div>
        </div>

        <div class="div-neuquen-rio-lugar">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Lago Huechulafquen</h4>
            <p class="parrafo-neuquen-rio">Este se encuentra ubivado en el Parque Nacional Lanin, este es otro destino destacado, pero no solo por sus lindas piezas de peces, si no que este lago ofrece hermosos paisajes y actividades al aire libre, como el senderismo, o el avistamiento de aves.</p>
        </div>
            <img src="../imagenes/Neuquen/lagohuechulafquen.jpg" class="img-neuquen-rio">
        </div>

        <div class="div-neuquen-rio-lugar img-2">
            <img src="../imagenes/Neuquen/Riocollon.jpg" class="img-neuquen-rio">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Rio Collón Curá</h4>
            <p class="parrafo-neuquen-rio">El rio Collón Curá es conocido por su belleza, y su abundancia de peces, se encuentra centrado en la zona central de la provincia y es un destino popular entre los pescadores, su temporada se extiende desde mediados de noviembre hasta mediados de abril, destacando en sus fechas febrero y y marzo por los salmones que suben al rio a desobar.</p>
        </div>
        </div>

        <div class="div-neuquen-rio-lugar">
        <div class="parrafo-container">
            <h4 class="h4-neuquen-rio">Lago Traful</h4>
            <p class="parrafo-neuquen-rio"> El lago Traful, es uno de los lagos mas grandes y hermosos de la region, esta rodeado de bosques y montañas, lo que crea un entorno natural muy impresionante, lo que mas destacan son sus truchas marrones, con tamaños espectaculares, en este lago podemos realizar la pesca tanto en las costas, oen embarcaciones pequeñas, como botes o kayaks.</p>
        </div>
            <img src="../imagenes/Neuquen/Lagotraful.jpg" class="img-neuquen-rio">
        </div>

        <article class="article-recordar">
            <h4 class="h4-recordar">¡IMPORTANTE, RECORDAR!</h4>
            <div class="div-recordar">
                <p> Recomendamos a todas las pesonas que visiten la Patagonia que revisen bien su equipo de pesca, ya que estos lugares aun estan libres de la famosa "enfermedad del torneo", por eso se recomienda antes de entrar a pescar a algunos lugares de la zona, higuienizar bien los productos de pesca, esto requiere de desinfeccion si a estado antes en otros hambientes de pesca.</p>
                <img src="../imagenes/carousel/virus!.png" class="img-recordar">
            </div>
        </article>
    </article>


    <!-- Footer-->
    <footer class="footer-container">
        <p><b>Estudiante Agustin Saldivia de Potrero Digital</b></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>